  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      background-color:white;
    }

    header {
      background-color: #000;
      color: white;
      text-align: center;
      padding: 20px;
      font-size: 24px;
      letter-spacing: 2px;
    }
a:visited{
  background-color: red;
}
input:invalid{
  border: 2px solid red; 
}
    main {
      display: flex;
      justify-content: space-between;
      padding: 40px 5%;
      gap: 30px;
    }

    section {
      flex: 3;
      background-color: white;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    section h2 {
      color: #111;
      margin-bottom: 15px;
    }

    section p {
      color: #555;
      line-height: 1.6;
    }

    aside {
      flex: 1;
      background-color: #fff;
       padding: 10px;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      height: fit-content;
    }

    aside h3 {
      color: #111;
      margin-bottom: 10px;
      border-bottom: 2px solid #ff0000;
      padding-bottom: 5px;
    }

    aside ul {
      list-style: none;
      margin-top: 10px;
    }

    aside ul li {
      padding: 8px 0;
    }

    aside ul li a {
      text-decoration: none;
      color: #000;
      transition: 0.3s;
    }

    aside ul li a:hover {
      color: #ff0000;
    }

    footer {
      background-color: #000;
      color: white;
      text-align: center;
      padding: 15px;
      margin-top: 40px;
      font-size: 14px;
    }
    .d3{
      position: relative;
      bottom: 2cm;
      margin-right:90%;
    }
  